body {
    background-image: url('/img/wallpaperflare.com_wallpaper.jpg');
    width: 1920px;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 400px;
    height: 200px;
    box-shadow: 0 0 10px 2px white;
}