.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header__title-text {
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 35px;
    line-height: 20px;
    cursor:pointer;
    user-select: none;
    color: whitesmoke;
}
